In [ ]:
# variable creation

# rules when give names to variables

# Dont's
# 1. names should not start with number, special character  - exception here is _
# 2. names which match with predefined function names
# 3. spaces are not allowed in python -- we use _
# 4. run a cell using shift-enter or ctrl-enter
# 5. Overwriting is allowed in python

In [2]:
varl1 = 2000
var1 = var1-2500  # +, *, /, %- modulus - remiander
print(var1)

-500

In [3]:
var1=200
_var1=2
print(var1, _var1)

200 2

In [6]:
VAR1 = 90
var1= 9
VaR1 = 900

print(VAR1, var1, VaR1)

90 9 900

In [ ]:
# Data Types - python is case sensitive

# Integer --  -10, 10    -- int
# Flaot --- 10.45, -10.45  --- float
# String ---- 'HEllo','Hi', 'M', 'F', hello , hi , HI, HELLO   - str
# Boolean --- True , False   - bool

In [7]:
# check datatype

type(VAR1)

int

In [17]:
# type(True)
type(False)

bool

In [9]:
type(-10.78)

float

In [10]:
type('hello')

str

In [14]:
h= 'hello'
print(type(h))

<class 'str'>

In [15]:
j1="hello"
print(type(j1))

<class 'str'>

In [18]:
" can't  , doesn't , havn't "

" can't  , doesn't , havn't "

In [33]:
# LISTS   - []

list1 = ['hello', 45, -45.8, False]
print(list1)

['hello', 45, -45.8, False]

In [28]:
list1.index('hello')

0

In [21]:
# indexes always start from zero
list1[0]  # print value at index zero

'hello'

In [22]:
print(list1[2])  # given index --> asking 4 value

-45.8

In [23]:
# given value  --> asking for index
list1.index(False)

3

In [37]:
# extend - concat
list1.extend(['data science'])

In [38]:
list1

['hello', 45, -45.8, False, 'data science', 'data science', 'data science']

In [39]:
list2 = list1 + ['new data science']
list2

['hello',
 45,
 -45.8,
 False,
 'data science',
 'data science',
 'data science',
 'new data science']

In [44]:
l3 = ['python',34,56,True]
# Append  - add a value 
l3.append(20)
l3.append('the year 2021')

In [45]:
print(l3)

['python', 34, 56, True, 20, 'the year 2021']

In [59]:
l4 = [10,20,30,40,50]

l5=[] # empty list - save all values from l4 haveing 2 minus

# for loop
for name in l4:
    l5.append(name-2)
print(l5)

[8, 18, 28, 38, 48]

In [62]:
l5.insert(0,1000)  # listname.insert(index, value)

In [70]:
l5.insert(3,"can't")

In [71]:
l5

[1000, 8, 18, "can't", 'data scince', 3000, 28, 38, 48, 0, 3]