In [1]:
import numpy as np
import pandas as pd

In [2]:
‘first_name’: [‘Jason’, ‘Molly’, ‘Tina’, ‘Jake’, ‘Amy’], ‘last_name’: [‘Miller’, ‘Jacobson’, “.”, ‘Milner’,‘Cooze’],

‘age’: [42, 52, 36, 24, 73], ‘preTestScore’: [4, 24, 31, “.”, “.”],’postTestScore’: [“25,000”, “94,000”, 57, 62, 70]

SyntaxError: invalid character in identifier (<ipython-input-2-154ea5f8e7b7>, line 1)

In [3]:
df=DataFram('first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 'last_name': ['Miller', 'Jacobson', '.', 'Milner','Cooze'],

'age': [42, 52, 36, 24, 73], 'preTestScore': [4, 24, 31, '.', '.'],'postTestScore': ['25000', '94000', 57, 62, 70])

SyntaxError: invalid syntax (<ipython-input-3-421ad986c0c5>, line 1)