In [1]:
import numpy as np
import pandas as pd

In [2]:
np.arange(20.5,30.9,2).astype(int)

array([20, 22, 24, 26, 28, 30])

In [3]:
# Write a Python program to create and display a one-dimensional array-and convert it to Series

a = pd.Series(np.arange(20.5,30.9))
a

0     20.5
1     21.5
2     22.5
3     23.5
4     24.5
5     25.5
6     26.5
7     27.5
8     28.5
9     29.5
10    30.5
dtype: float64

In [5]:
# convert the above created series to str
a = a.astype(str)
print(a)

0     20.5
1     21.5
2     22.5
3     23.5
4     24.5
5     25.5
6     26.5
7     27.5
8     28.5
9     29.5
10    30.5
dtype: object

In [8]:
# convert the above created pandas series back to array
np.array(a)

a.values

array(['20.5', '21.5', '22.5', '23.5', '24.5', '25.5', '26.5', '27.5',
       '28.5', '29.5', '30.5'], dtype=object)

In [54]:
# Write a Pandas program to calculate the frequency counts of each unique value of a given series

ser = pd.Series(list('aaaaAAAAbbbbbbBBZZzzzzYYYYYYyyyy'))
ser.value_counts()

# ser.unique()

Y    6
b    6
y    4
A    4
z    4
a    4
Z    2
B    2
dtype: int64

In [6]:
#  Write a Pandas program convert the first and last character of each word to upper case in each word of a given series

series1 = pd.Series(['php', 'python', 'java', 'c#'])
print(series1)


result = series1.apply(lambda x: x[0].upper() + x[1:-1] + x[-1].upper())


print("\nFirst and last character of each word to upper case:")
print(result)

0       php
1    python
2      java
3        c#
dtype: object

First and last character of each word to upper case:
0       PhP
1    PythoN
2      JavA
3        C#
dtype: object

In [7]:
# Write a Pandas program to calculate the number of characters in each word in a given series

series1.apply(lambda x: 'words in_ '+ x + ' = ' + str(len(x)))

0       words in_ php = 3
1    words in_ python = 6
2      words in_ java = 4
3        words in_ c# = 2
dtype: object

In [16]:
df2 = pd.DataFrame({'A': [[1, 2, 3], 'foo', [], [3, 4]], 
                    'B': 1})

df2

           A  B
0  [1, 2, 3]  1
1        foo  1
2         []  1
3     [3, 4]  1

In [20]:
df2.explode('A')

     A  B
0    1  1
0    2  1
0    3  1
1  foo  1
2  NaN  1
3    3  1
3    4  1

In [21]:
# define a Dataframe of your own

In [22]:
# reset Index of Dataframe by making one column as index

In [23]:
# create a new index from above created dataframe

In [24]:
# Drop certain rows from the above created dataframe on basis of a certain condition

In [25]:
# Replace some values

In [26]:
# get column names of above created dataframe

In [27]:
# create a new column in above dataframe

In [28]:
# rename the newly created column