In [1]:
import numpy as np
import pandas as pd

In [2]:
# Write a Python program to create and display a one-dimensional array-and convert it to Series

0    20
1    21
2    22
3    23
4    24
5    25
6    26
7    27
8    28
9    29
dtype: int32

In [3]:
# convert the above created series to str

0    20
1    21
2    22
3    23
4    24
5    25
6    26
7    27
8    28
9    29
dtype: object

In [4]:
# convert the above created pandas series back to array

array([20, 21, 22, 23, 24, 25, 26, 27, 28, 29])

In [5]:
# Write a Pandas program to calculate the frequency counts of each unique value of a given series
a = 'aaaaAAAAbbbbbbBBZZzzzzYYYYYYyyyy'

Y    6
b    6
a    4
z    4
y    4
A    4
Z    2
B    2
dtype: int64

In [6]:
#  Write a Pandas program convert the first and last character of each word to upper case in each word of a given series
l =['php', 'python', 'java', 'c#']

0       php
1    python
2      java
3        c#
dtype: object

First and last character of each word to upper case:
0       PhP
1    PythoN
2      JavA
3        C#
dtype: object

In [7]:
# Write a Pandas program to calculate the number of characters in each word in a given series

0       words in_ php = 3
1    words in_ python = 6
2      words in_ java = 4
3        words in_ c# = 2
dtype: object

In [8]:
# define a Dataframe of your own

In [9]:
# reset Index of Dataframe by making one column as index

In [10]:
# create a new index from above created dataframe

In [11]:
# Drop certain rows from the above created dataframe on basis of a certain condition

In [12]:
# Replace some values

In [13]:
# get column names of above created dataframe

In [14]:
# create a new column in above dataframe

In [15]:
# rename the newly created column